{% extends 'base/base.html'%}

{% block title %}Contact {% endblock%}


{% block body %}
<h3 class ="text-black my-5">Contact</h3>

<form action = "" method ="post">
    <div class="col-sm-8">
    <div class = "row"> 
      <div class="col-sm-6">
        <div class="form-group">
        <label for="exampleInputEmail1">Name </label>
        <input type="Name" class="form-control" id="exampleInputName1" aria-describedby="NameHelp" placeholder="Enter Name">
        </div>
        </div>
        <div class="col-sm-6">
        <div class="form-group">
        <label for="exampleInputemail1">Email</label>
        <input type="email" class="form-control" id="exampleInputemail1" placeholder="email">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="exampleInputAddress1">Address</label>
    <input type="Address" class="form-control" id="exampleInputAddress1" placeholder="Address">
  </div>

  <div class="form-group">
    <label for="exampleInputmessage1">Message</label>
    <input type="text" class="form-control" id="exampleInputmessage1" placeholder="message">
  </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  {% endblock%}